$lightestGray: #f8f8f8;
$lighterGray: #ebebeb;
$lightGray: #d5d5d5;
$gray: #999;
$darkGray: #565656;
$darkerGray: #222;
$otherGray: #707070;
$darkestGray: #1c1c1c;
$orange: #d44721;
$lightOrange: #f37613;
.orange {
	color: $orange;
}